<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/Remove.css}">
</head>
<body>

<input TYPE="button" VALUE="Back" class="btn" onClick="history.go(-1);">
 <form  th:action="@{/updateInstructor}" method="post" th:object="${update}">
            <div class="login">
            <label for="categoryId" ><strong>Enter Instructor Id :</strong></label>
            <input type="text"  th:field="*{instructorIds}" required><br><br>  
           
              <label for="instructorName" ><strong>Enter Instructor Name :</strong></label>
            <input type="text" th:field="*{instructorNames}" required><br><br> 
             
            <div><button type="submit">Ok</button>&emsp;
           <button type="reset">Cancel</button></div><br>
           </div>
           </form>
</body>
</html>